<!DOCTYPE html>
<html lang="ru">
  <head>
   <meta charset="UTF-8">
   <title>Календарик - список обновлений</title>
   <link rel="icon" href="static/logotip.ico" type="image/x-icon">
   <link rel="stylesheet" type="text/css" href="static/styles.css">

  </head>
  <body>
    <div class ='img-control'>
      <img src="static/upd-page.png">
    </div>
    <main>
      <div>
        <hr>
        <h1><p>Обновление - 1.0.1 (28.11.2024)</p></h1>
        <h3 style="margin: 10px;"><code>Небольшое обновление дизайна.<br> Измено поле ввода текста.</code></h3>
        <div>
          <div style="display: flex; flex-direction: column; align-items: center;">
            <img src="static\101\1.png" class="img-update">
            <code>Было</code>
          </div>

          <div>
            <img src="static\101\2.png" class="img-update">
            <code>Стало</code>
          </div>
          
        </div>
        <hr>
      </div>
    </main>





  </body>